$main-border:#000000;
$input-border:#979797;
$link-color:#0433ff;

@mixin inputStyling {
    height:35px;
    border:1px solid $input-border;
    border-radius:2px;

}
body { 
  margin: 0px;
  font-family: Tahoma, sans-serif;

}
.hidden {
    display:none !important;
}
.column {
    float:left;
    width:29%;
    margin:1%;
    padding:1%;
    min-width: 200px;

}
.currency-converter {
    border: 1px solid $main-border;
    padding:10px;
    h2{
        font-size: 1em;
        font-weight: normal;
        margin-top:0px
    }
    label {
        display:block;
        font-size: .8em;
        margin-bottom:5px;
    }
    input {
        @include inputStyling;
        padding-left:5px;
        width:60%;
    }
    select {
        @include inputStyling;
        width:30%;
    }
    p {
        font-size:.6em;
        &.error {
            color:red;
            display:none;
        }
        &.disclaimer {
            text-align:right;
            padding-right:24px;
            font-size:.8em;
        }
        a {
            color:$link-color;
            &:hover, &:visited {
                color:$link-color;
            }
        }
    }
}