body {
  margin: 0px;
  font-family: Tahoma, sans-serif; }

.hidden {
  display: none !important; }

.column {
  float: left;
  width: 29%;
  margin: 1%;
  padding: 1%;
  min-width: 200px; }

.currency-converter {
  border: 1px solid #000000;
  padding: 10px; }
  .currency-converter h2 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0px; }
  .currency-converter label {
    display: block;
    font-size: .8em;
    margin-bottom: 5px; }
  .currency-converter input {
    height: 35px;
    border: 1px solid #979797;
    border-radius: 2px;
    padding-left: 5px;
    width: 60%; }
  .currency-converter select {
    height: 35px;
    border: 1px solid #979797;
    border-radius: 2px;
    width: 30%; }
  .currency-converter p {
    font-size: .6em; }
    .currency-converter p.error {
      color: red;
      display: none; }
    .currency-converter p.disclaimer {
      text-align: right;
      padding-right: 24px;
      font-size: .8em; }
    .currency-converter p a {
      color: #0433ff; }
      .currency-converter p a:hover, .currency-converter p a:visited {
        color: #0433ff; }
